<template name="chatSidebarAvailableUsers">
    <div class="available-users side-panel fill-vh flex-col z-depth-2" style="width: 260px;">
      {{> chatSidebarHeader}}
      <div class="flex-1-1-auto grey darken-3 pad10 overflow-auto">
      {{#each usersLoggedIn}}
        <div class="loggedin-user" data-userid="{{_id}}" style="padding: 5px;">
            <img class="vert-middle" src="/images/chat/online.png" alt="Status: Online">
            <img class="vert-middle z-depth-1" style="width: 30px; height: auto" src="{{profile.image}}">
            <span class="white-text">{{profile.name}}</span>
        </div>
      {{/each}}
      </div>
      {{> chatSidebarFooter}}
    </div>
</template>