<template name="chatSidebarAvailableUsers">
    <div class="available-users side-panel fill-height flex-col">
        <div class="side-title no-flex">
            <div class="row no-margin">
                    <div class="card-panel no-margin center-align sidebar-header">
                        Available Users
                    </div>
            </div>
        </div>
        <div class="side-content flex-1-1-auto overflow-auto">
            {{#each usersLoggedIn}}
                <div class="loggedin-user row no-margin valign-wrapper" data-userid="{{_id}}" style="padding-top: 5px;">
                    <div class="col m2 hide-on-small-and-down no-padding-right">
                        <img class="responsive-img z-depth-1" style="max-height: 30px;" src="{{profile.image}}">
                    </div>
                    <div class="col s12 m10">
                        {{profile.name}}
                    </div>
                </div>
            {{/each}}
        </div>
        {{> chatSidebarFooter}}
    </div>
</template>