<template name="chatSidebarFooter">
    <div class="side-footer no-flex">
        <div class="row no-margin center-align">
            <div class="col s3 btn-info btn-available-users active">
                <i class="fa fa-users"></i>
            </div>
            <div class="col s3 btn-info btn-user-info">
                <i class="fa fa-info-circle"></i>
            </div>
            <div class="col s3 btn-info btn-settings">
                <i class="fa fa-cog"></i>
            </div>
            <div class="col s3 btn-info btn-scroll">
                <i class="fa fa-arrow-down"></i>
            </div>
        </div>
    </div>
</template>