<template name="chatSidebarUserInfo">
  <div class="available-users side-panel fill-vh flex-col z-depth-2" style="width: 260px;">
    {{> chatSidebarHeader}}
    <div class="flex-1-1-auto grey darken-3 pad10 overflow-auto">
      {{#with getUser (getSessionData "profileId")}}
        <div class="fill-width text-center">
          <img class="responsive-img z-depth-1" src="{{profile.image}}" style="width: 140px;">
        </div>
        <div class="fill-width text-center white-text">
          {{profile.name}}
        </div>
      {{/with}}
    </div>
    {{> chatSidebarFooter}}
  </div>
</template>