<template name="nav">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'homeIndex'}}">Project Name</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="{{#if homeActive}}active{{/if}}"><a href="{{pathFor 'homeIndex'}}">Home</a></li>
          <li class="{{#if aboutActive}}active{{/if}}"><a href="{{pathFor 'homeAbout'}}">About</a></li>
          <li class="{{#if contactActive}}active{{/if}}"><a href="{{pathFor 'homeContact'}}">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
          {{#if isInRole 'admin' 'admin-group'}}
            <a href="#">Admin Link</a>
          {{/if}}
          {{tester}}
          </li>
          {{> loginButtons}} <!-- here -->
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</template>