<template name="adminHome">
  <main>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="jumbotron">
            <h1>
              <span data-template="AdminHome" id="title" class="editable">
                {{getValueOrDefault pages.title "Set Title"}}
              </span>
            </h1>
            <p class="lead">
              <span data-template="AdminHome" id="subtitle" class="editable">
                {{getValueOrDefault pages.subtitle "Set Subtitle"}}
              </span>
            </p>
          </div>
        </div>
        <hr/>
      </div>
    </div>
  </main>
</template>
