<template name="adminUsers">
  <main>
  <div class="container">
    <div class="section">
      <div class="row">
        {{#if hasRole currentUser 'admin'}}
          <table>
            <tr>
              <th>Picture</th>
              <th>Id</th>
              <th>Username</th>
              <th>Email</th>
              <th>Full Name</th>
              <th>Created At</th>
              <th>Role</th>
              <th>Actions</th>
            </tr>
            {{#each users}}
              <tr class="admin-edit-user">
                <td>
                  <img src="{{profile.image}}" class="img-square-35"/>

                </td>
                <td class="user_id">{{_id}}</td>
                <td>{{username}}</td>
                <td>
                  <ul>
                    {{#each emails}}
                      <li>{{address}}</li>
                    {{/each}}
                  </ul>
                </td>
                <td>{{profile.name}}</td>
                <td>{{dateFormat}}</td>
                <td>
                  {{#each roles}}
                    {{this}}
                  {{/each}}
                </td>
                <td style="font-size: larger">
                  {{#if hasRole _id 'admin'}}
                    <i class="toggle-admin fa fa-star" style="cursor: pointer;" aria-hidden="true" data-userid="{{_id}}"></i>
                  {{else}}
                    <i class="toggle-admin fa fa-star-o" style="cursor: pointer;" aria-hidden="true" data-userid="{{_id}}"></i>
                  {{/if}}
                  <i class="admin-remove-user fa fa-trash" style="cursor: pointer;" aria-hidden="true" data-userid="{{_id}}"></i>
                </td>
              </tr>
            {{/each}}
          </table>
        {{/if}}
      </div>
    </div>
  </div>
  </main>

</template>
