@import "main.scss";
@import "classes.scss";

.chat-home {
  .img-profile {
    max-width: 28px;
    max-height: 28px;
    display: inline-block;
  }
  .btn-info {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    @extend .deep-purple.lighten-3;
    &:hover {
      @extend .deep-purple.lighten-2;
    }
  }
  .active {
    @extend .deep-purple.lighten-1,
            .white-text;
  }
  .img-chat-profile {
    margin-top: 7px;
    max-width: 90%;
    height: auto;
  }
  .sidebar-header {
    padding: 8px;
    font-weight: 600;
    @extend .deep-purple.lighten-3;
  }
  .loggedin-user {
    &:hover {
      @extend .deep-purple.lighten-3;
    }
  }
  .card {
    margin: 0.3rem 0 0.5rem 0;

    .card-content {
      padding: 8px;
    }
    .card-action {
      padding: 3px 8px 3px 8px;
    }
    p {
      word-break: break-all;
    }
  }

  #chat_form {
    .input-field {
      margin-top: 0px;
    }
    input {
      height: 37px;
    }
    button {
      height: 37px;
      overflow: hidden;
    }
  }

  .color-palette {
    height: 30px;
    &:hover {
      @extend .lighten-2;
    }
  }
}