@import "main";
@import "classes";

.chat-home {
  .topic-holder {
    z-index: 100;
  }
  .room {
    font-weight: 500;
    font-size: 20px;
  }
  .topic {

  }
  .message {
    p {
      margin: 0;
    }
  }
  .btn-info {
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
      @extend .grey.darken-3;
    }
  }
  .active {
    @extend .grey.darken-3;
  }
  .loggedin-user {
    &:hover {
      @extend .grey.darken-1;
    }
  }

  #chat_form {
    .input-field {
      margin-top: 0;
    }
    input {
      height: 37px;
    }
    button {
      height: 37px;
      overflow: hidden;
    }
  }

  .color-palette {
    height: 30px;
    &:hover {
      @extend .lighten-2;
    }
  }
}