@import "main";
@import "classes";

.chat-home {
  .loading {
    z-index: 20;
    background-color: rgba(180, 184, 188, 0.88);
  }
  .topic-holder {
    z-index: 10;
  }
  .room {
    font-weight: 500;
    font-size: 20px;
  }
  .topic {

  }
  .chat-window {
    padding-bottom: 5px;
  }
  .new-message-container {
    padding-left: 10px;
    padding-top: 10px;
  }
  .room-message-container {
    padding-left: 10px;
    padding-top: 10px;
    font-style: italic;
    font-size: small;
  }
  .same-owner-container {
    padding-left: 10px;
  }
  .message {
    p {
      word-break: break-word;
      margin: 0;
    }
    code {
      background-color: black;
      padding: 0 10px;
      color: cornsilk;
    }
  }
  .timestamp {
    font-size: 9px;
    @extend .grey-text;
  }
  .btn-info {
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
      @extend .grey.darken-3;
    }
  }
  .active {
    @extend .grey.darken-3;
  }
  .loggedin-user {
    &:hover {
      @extend .grey.darken-1;
    }
  }

  #chat_form {
    input {
      height: 37px;
    }
    padding-left: 10px;
    padding-right: 10px;
  }

  .chat-btn {
    padding: 10px;
    @extend .deep-purple, .white-text;
    &:hover {
      @extend .darken-3;
    }
  }

  .color-palette {
    height: 30px;
    &:hover {
      @extend .lighten-2;
    }
  }

  .side-panel {
    font-size: 13px;
    h1 {font-size: 20px; margin: 0; }
    h2 {font-size: 18px; margin: 0; }
    h3 {font-size: 16px; margin: 0; }
    h4 {font-size: 15px; margin: 0; }
    h5 {font-size: 14px; margin: 0; }

    ul {
      padding-left: 15px;
    }
    li.list-header {
      font-weight: 500;
      list-style-type: none;
      text-align: center;
    }
    li {
      list-style-type: disc;
    }
  }

  .chat-help {

  }
}