.display-flex {
  display: flex;
}
.display-block {
  display: block;
}
.display-inline-block {
  display: inline-block;
}
.fill-height {
  height: 100%;
}
.fill-width {
  width: 100%;
}
.fill-vh {
  height: 100vh;
}
.flex-1-1-auto {
  flex: 1 1 auto;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.img-square-35 {
  width: 35px;
  height: 35px;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.no-flex {
  flex: none;
}
.no-border {
  border: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-wrap {
  white-space: nowrap;
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.pad10 {
  padding: 10px;
}
.pos-abs {
  position: absolute;
}
.pos-rel {
  position: relative;
}
.text-center {
  text-align: center;
}
.vert-bottom {
  vertical-align: bottom;
}
.vert-middle {
  vertical-align: middle;
}