<template name="nav">
  <nav class="black text-white" role="navigation">

    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Meteor Blast</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="fa fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
        <li class="{{#if isRouteName 'home'}}active{{/if}}"><a href="/">Home</a></li>
        <li class="{{#if isRouteName 'about'}}active{{/if}}"><a href="/about">About</a></li>
        <li class="{{#if isRouteName 'contact'}}active{{/if}}"><a href="/contact">Contact</a></li>
        {{#if currentUser}}
          <li class="{{#if isRouteName 'chat'}}active{{/if}}"><a href="/chat">Chat</a></li>
        {{/if}}
        {{#if hasRole currentUser 'admin'}}
          <li><a class="dropdown-button" href="" data-activates="admindropdown">Admin<i class="material-icons right">arrow_drop_down</i></a></li>
        {{/if}}
        <li>{{> loginButtons}}</li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li class="{{#if isRouteName 'home'}}active{{/if}}"><a href="/">Home</a></li>
        <li class="{{#if isRouteName 'about'}}active{{/if}}"><a href="/about">About</a></li>
        <li class="{{#if isRouteName 'contact'}}active{{/if}}"><a href="/contact">Contact</a></li>
        {{#if currentUser}}
          <li class="{{#if isRouteName 'chat'}}active{{/if}}"><a href="/chat">Chat</a></li>
        {{/if}}
        {{#if hasRole currentUser 'admin'}}
          <ul id="admindropdown" class="dropdown-content">
            <li><a href="/admin">Admin Link</a></li>
            <li><a href="/admin/users">User Management</a></li>
          </ul>
        {{/if}}
        <li>{{> loginButtons}}</li>
      </ul>

      {{! Adding the admin dropdown for admins only}}
      {{#if hasRole currentUser 'admin'}}
          <ul id="admindropdown" class="dropdown-content">
            <li class="{{#if isRouteName 'AdminHome'}}active{{/if}}"><a href="/admin">Admin Link</a></li>
            <li class="{{#if isRouteName 'AdminUsers'}}active{{/if}}"><a href="/admin/users">User Management</a></li>
          </ul>
       {{/if}}
    </div>

  </nav>
</template>
