<template name="homeAbout">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>
            <span data-template="homeAbout" id="title" class="editable">
                {{pages.title}}
            </span>
        </h1>
        <p class="lead">
            <span data-template="homeAbout" id="subtitle" class="editable">
                {{pages.subtitle}}
            </span>
        </p>
      </div>
    </div>
    <hr/>
  </div>
</div>

</template>