<template name="homeIndex">
    <main>
    <div id="index-banner" class="parallax-container home-background-img">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h1 class="header teal-text text-lighten-2">
                        <span data-template="homeIndex" id="title" class="editable">
                            {{pages.title}}
                        </span>
                    </h1>
                    <h5 class="header col white-text s12 light">
                        <span data-template="homeIndex" id="subtitle" class="editable">
                            {{pages.subtitle}}
                        </span>
                    </h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img alt="Meteor Blast Background" src="/images/backgrounds/meteorshower.jpg"></div>
    </div>
        <div class="container">
            <div class="section">

                <!--   Icon Section   -->
                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="fa fa-wrench"></i></h2>
                            <h5 class="center">Quick Setup</h5>
                            <p class="light">
                                I've created this template so that you could clone the
                                <a href="https://github.com/nbrady-techempower/meteor-blast">GitHub repo</a>
                                and start working with Meteor code right away. The code is heavily commented
                                and documented to get you started.
                            </p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="fa fa-comment"></i></h2>
                            <h5 class="center">Built-in Chat</h5>
                            <p class="light">
                                The chat is currently a work in progress. Feel free to try it out and make code changes -
                                even submit a pull request to the <a href="https://github.com/nbrady-techempower/meteor-blast">Meteor Blast GitHub repo</a>.
                                The goal of the template is to get you familiar with the code that makes Meteor work. Check out
                                the client/chat/chat_helpers.js file to get started with making changes to chat.
                            </p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="fa fa-user-plus"></i></h2>
                            <h5 class="center">Users & Security</h5>
                            <p class="light">
                                One of the most powerful features of Meteor is it's built in User API. Among these features
                                is built in OAuth support, allowing you to connect your app to services like Facebook, Twitter,
                                and GitHub.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
</template>