<template name="chatMainPanelWindow">
  <div class="loading pos-abs fill-height fill-width">
    <img class="centered" src="/images/icons/loading.gif" alt="loading...">
  </div>

  <div class="fill-height flex-col pos-rel">

    {{! Room name / Topic area }}
    <div class="topic-holder no-flex z-depth-2">
      <div class="pad10">
        {{#with currentRoom}}
        <span class="room">#{{name}}: </span>
        <span class="topic grey-text text-darken-3">{{topic}}</span>
        {{/with}}
      </div>
    </div>

    {{! Chat window with messages }}
    <div class="chat-window flex-1-1-auto overflow-auto scrollbar-light pos-rel">
      {{#each messages}}

        {{! If it's a room message}}
        {{#if equals type "room"}}
          <div class="flex-row room-message-container">
            *** {{message}}
          </div>
        {{else}}

          {{! Simple check to see if the message owner still exists}}
            {{! if the current message has the same owner as the last message,
                don't redraw everything}}
            {{#if isSameMsgOwner @index}}
              <div class="flex-row same-owner-container">
                {{#unless currentUser.settings.profileImages}}
                  <div style="flex: 0 0 60px;"></div>
                {{/unless}}
                <div class="flex-1-1-auto">
                  <div class="{{#with getUser _userId}}{{getValueOrDefault settings.chatColor "teal"}}{{/with}}-text">
                    {{#unless currentUser.settings.timestamp}}
                      <span class="timestamp">{{dateFormat date}}</span>
                    {{/unless}}
                    <span class="message">{{{markdown message}}}</span>
                  </div>
                </div>
              </div>
            {{else}}
                <div class="flex-row new-message-container">
                  {{#unless currentUser.settings.profileImages}}
                  <div style="flex: 0 0 60px;">
                    {{#with getUser _userId}}
                      <img class="z-depth-2 img-square-40" src="{{profile.image}}">
                    {{/with}}
                  </div>
                  {{/unless}}
                  <div class="flex-1-1-auto">
                    <div>
                      {{#with getUser _userId}}
                        <span class="grey-text text-darken-3">{{profile.name}}</span>
                        <span class="grey-text">@{{username}}</span>
                      {{/with}}
                    </div>
                    <div class="{{#with getUser _userId}}{{getValueOrDefault settings.chatColor "teal"}}{{/with}}-text">
                      {{#unless currentUser.settings.timestamp}}
                        <span class="timestamp">{{dateFormat date}}</span>
                      {{/unless}}
                      <span class="message">{{{markdown message}}}</span>
                    </div>
                  </div>
                </div>
            {{/if}}

        {{/if}}
      {{/each}}
    </div>

    {{! New Message Input area}}
    <div class="no-flex">
      <div class="flex-row new-message grey lighten-3" style="align-items: center;">
        <form id="chat_form" class="flex-1-1-auto fill-width no-border no-margin" method="post">
          <input class="no-border no-margin new-message-input"
                 type="text" placeholder="What would you like to say?"
                 name="message" id="message"
                 autocomplete="off" />
        </form>
        <div class="chat-btn btn-chat flex-1-1-auto"><i class="fa fa-comment"></i></div>
        <div class="chat-btn btn-scroll flex-1-1-auto"><i class="fa fa-arrow-down"></i></div>
        <div class="chat-btn btn-expand flex-1-1-auto"><i class="fa fa-expand"></i></div>
        <div class="chat-btn btn-compress flex-1-1-auto hide"><i class="fa fa-compress"></i></div>
      </div>
    </div>

    {{! For alerts}}
    {{> sAlert}}

  </div>
</template>