<template name="chatMainPanelWindow">
  <div class="fill-height flex-col pos-rel">

    {{! Room name / Topic area }}
    <div class="topic-holder no-flex z-depth-2">
      <div class="pad10">
        {{#with currentRoom}}
        <span class="room">#{{name}}: </span>
        <span class="topic grey-text text-darken-3">{{topic}}</span>
        {{/with}}
      </div>
    </div>

    {{! Chat window with messages }}
    <div class="chat-window flex-1-1-auto overflow-auto pos-rel">
      {{#each messages}}
      {{! Simple check to see if the message owner still exists}}
        {{#if userExists _userId}}
        {{! If the user viewing the message is the owner}}
        {{! if equals currentUser._id _userId}}
          <div class="flex-row pad10">
            {{#unless currentUser.settings.profileImages}}
            <div style="flex: 0 0 60px;">
              {{#with getUser _userId}}
                <img class="z-depth-2" style="width: 40px;" src="{{profile.image}}">
              {{/with}}
            </div>
            {{/unless}}
            <div class="flex-1-1-auto">
              <div>
                <span class="grey-text text-darken-3" style="font-weight: 600">{{#with getUser _userId}}{{profile.name}}{{/with}}</span>
                {{#unless currentUser.settings.timestamp}}
                  <span class="grey-text text-darken-1" style="font-weight: 400">{{dateFormat date}}</span>
                {{/unless}}
              </div>
              <div style="font-weight: 600;"
                   class="message {{#with getUser _userId}}{{getValueOrDefault settings.chatColor "teal"}}{{/with}}-text">
                  {{! This markdown helper also removes html tags}}
                  {{#markdown}}{{message}}{{/markdown}}
              </div>
            </div>
          </div>
          {{! scroll to bottom on every message}}
          {{scrollToBottom}}
        {{/if}}
      {{/each}}
    </div>

    {{! New Message Input area}}
    <div class="no-flex">
      <div class="flex-row new-message grey lighten-3" style="align-items: center;">
        <form id="chat_form" class="flex-1-1-auto fill-width no-border no-margin" method="post">
          <input class="no-border no-margin new-message-input"
                 type="text" placeholder="What would you like to say?"
                 name="message" id="message"
                 autocomplete="off" />
        </form>
        <div class="chat-btn btn-chat flex-1-1-auto"><i class="fa fa-comment"></i></div>
        <div class="chat-btn btn-scroll flex-1-1-auto"><i class="fa fa-arrow-down"></i></div>
        <div class="chat-btn btn-expand flex-1-1-auto"><i class="fa fa-expand"></i></div>
        <div class="chat-btn btn-compress flex-1-1-auto hide"><i class="fa fa-compress"></i></div>
      </div>
    </div>

    {{! For alerts}}
    {{> sAlert}}

  </div>
</template>