<template name="chatHome">
    {{#if Template.subscriptionsReady}}
    <div class="container fill-height chat-home">
        <div class="row fill-height" style="padding-top: 10px; padding-bottom: 10px;">
            <div class="sidebar col-xs-3 fill-height">
                {{> chatSidebarAvailableUsers}}
                {{> chatSidebarUserInfo}}
                {{> chatSidebarSettings}}
                {{> chatSidebarFooter}}
            </div>
            <div class="col-xs-9 fill-height chat-container">
                {{> chatMainPanelWindow}}
            </div>
        </div>
    </div>
    {{else}}
        {{>loading}}
    {{/if}}
</template>